
.blog ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.blog li{
    display: inline-block ;
    margin:20px;

}

.blog a{
    text-decoration :none;
    color: black;
}

.blog a:hover,
.blog a:active,
.blog a.active{
    color: orange;
}